<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section id="Contact_Sec">
        <h2 class="m-2 text-center">CONTACT SECTION</h2>


        <div class="d-flex  m-3 justify-content-center align-items-center ">


            <div class="line  "> </div>

            <i class="fa-solid fa-star icon-star"></i>

            <div class="line  "> </div>

        </div>
        <div class="container">
              <form class=" m-5">
                <div class="form-group position-relative">
                  <input type="text" class="form-control border-0 border-bottom" id="userName" placeholder=" " required>
                  <label for="userName">userName:</label>
                </div>
                <div class="form-group position-relative">
                  <input type="number" class="form-control border-0 border-bottom" id="userAge" placeholder=" " required>
                  <label for="userAge">userAge:</label>
                </div>
                <div class="form-group position-relative">
                  <input type="email" class="form-control border-0 border-bottom" id="userEmail" placeholder=" " required>
                  <label for="userEmail">userEmail:</label>
                </div>
                <div class="form-group position-relative">
                  <input type="password" class="form-control border-0 border-bottom" id="userPassword" placeholder=" " required>
                  <label for="userPassword">userPassword:</label>
                </div>
                <button type="submit" class="btn btn-succes btn-block">send Message</button>
              </form>
            </div>
    </section>
</body>

</html>