<section id="Portfolio_Sec">
<div class="portfolio d-flex  justify-content-center align-items-center flex-column ">
    
    
    <h2 class="m-2">PORTFOLIO COMPONENT</h2>


    <div class="d-flex  m-3 justify-content-center align-items-center ">


        <div class="line  bg-light"> </div>

        <i class="fa-solid fa-star icon-star"></i>

        <div class="line  bg-light"> </div>

    </div>

    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4   ">
                <div class=" overflow-hidden crad-1 position-relative rounded-3 ">
                    <img class="imm-port rounded-3 " src="assets/images/poert1.png" alt="" srcset="">
                    <div class="overlay-1 position-absolute  d-flex justify-content-center align-items-center  ">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    </div>

            </div>
            <div class="col-md-6 col-lg-4  ">
                <div class=" overflow-hidden position-relative rounded-3">

                    <img class="imm-port rounded-3 " src="assets/images/port2.png" alt="" srcset="">
                    <div class="overlay-1 position-absolute  d-flex justify-content-center align-items-center ">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4   ">
                <div class=" overflow-hidden crad-1 position-relative rounded-3">

                    <img class="imm-port rounded-3 " src="assets/images/port3.png" alt="" srcset="">
                    <div class="overlay-1 position-absolute d-flex justify-content-center align-items-center ">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4   ">
                <div class=" overflow-hidden crad-1 position-relative rounded-3 d-flex justify-content-center align-items-center">

                    <img class="imm-port rounded-3 " src="assets/images/poert1.png" alt="" srcset="">
                    <div class="overlay-1  position-absolute d-flex justify-content-center align-items-center ">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4  ">
                <div class=" overflow-hidden crad-1 position-relative rounded-3">

                    <img class="imm-port  rounded-3 " src="assets/images/port2.png" alt="" srcset="">
                    <div class="overlay-1 position-absolute d-flex justify-content-center align-items-center ">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4   ">
                <div class=" overflow-hidden crad-1 position-relative rounded-3">

                    <img class="imm-port rounded-3 " src="assets/images/port3.png" alt="" srcset="">
                    <div class="overlay-1 position-absolute d-flex justify-content-center align-items-center ">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>



</section>