

<section id="Home_Sec">

     <div class="home d-flex flex-column justify-content-center align-items-center ">

        <img src="/assets/images/avataaars.svg" class="img-ava mb-3" alt="Avatar" >
          <h2 class="text-white">START FRAMEWORK</h2>

          <div class="d-flex  justify-content-center align-items-center ">
            <div class="line me-3 bg-light">  </div>

             <i class="fa-solid fa-star icon-star"></i>
              
             <div class="line me-3 bg-light">  </div>
             
          </div>
         <div>Graphic Artist - Web Designer - Illustrator
     </div>



     </div>


</section>